@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-geist-sans: "Geist VF", sans-serif;
  --font-geist-mono: "Geist Mono VF", monospace;
  --font-funnel-display: "Funnel Display", sans-serif;

  /* Dark theme colors */
  --background-color: #141414; /* Dark background color in HEX */
  --foreground-color: #ffffff; /* White text color */
}

body {
  font-family: var(--font-funnel-display);
  background-color: var(--background-color); /* Use direct color variable */
  color: var(--foreground-color); /* Use direct color variable */
}

@keyframes bg-position {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.animate-bg-position {
  animation: bg-position 5s infinite alternate;
}